In [2]:
import pandas as pd
import numpy as np
from src import extraer_coordenadas_manual, insertar_datos_automatico, conexion_postgres
import psycopg2
pd.set_option('display.max_columns', None)
import os
from dotenv import load_dotenv
import requests

In [3]:
df_clasificacion = pd.read_csv("data/clasificacion.csv")

In [8]:
df_clasificacion

       Pos      Equipo  Pts   P  V  E   D  GM  GR  DG  Jornada  clubid
0        1       Eibar    3   1  1  0   0   3   1   2        1   322.0
1        1       Eibar    3   1  1  0   0   3   1   2        1   322.0
2        1       Eibar    3   1  1  0   0   3   1   2        1   322.0
3        1       Eibar    3   1  1  0   0   3   1   2        1   322.0
4        1       Eibar    3   1  1  0   0   3   1   2        1   322.0
...    ...         ...  ...  .. .. ..  ..  ..  ..  ..      ...     ...
14435   20  Levante UD   32  38  8  8  22  37  70 -33       38   221.0
14436   20  Levante UD   32  38  8  8  22  37  70 -33       38   221.0
14437   20  Levante UD   32  38  8  8  22  37  70 -33       38   221.0
14438   20  Levante UD   32  38  8  8  22  37  70 -33       38   221.0
14439   20  Levante UD   32  38  8  8  22  37  70 -33       38   221.0

[14440 rows x 12 columns]

In [17]:
df_clasificacion[df_clasificacion["Jornada"] == 1].drop_duplicates()

     Pos                  Equipo  Pts  P  V  E  D  GM  GR  DG  Jornada  clubid
0      1                   Eibar    3  1  1  0  0   3   1   2        1   322.0
19     2              Celta Vigo    3  1  1  0  0   2   1   1        1   209.0
38     3                Espanyol    3  1  1  0  0   1   0   1        1   214.0
57     4         AtlÃ©tico Madrid    3  1  1  0  0   1   0   1        1   212.0
76     5               Barcelona    3  1  1  0  0   1   0   1        1   217.0
95     6              Villarreal    1  1  0  1  0   1   1   0        1   222.0
114    7              Real Betis    1  1  0  1  0   1   1   0        1   218.0
133    8          Sporting GijÃ³n    1  1  0  1  0   0   0   0        1  1041.0
152    9                 Sevilla    1  1  0  1  0   0   0   0        1   213.0
171   10                Valencia    1  1  0  1  0   0   0   0        1   207.0
190   11  RC Deportivo La CoruÃ±a    1  1  0  1  0   0   0   0        1   219.0
209   12           Real Sociedad    1  1  0  1  0   0   0   0        1   210.0
228   13          Rayo Vallecano    1  1  0  1  0   0   0   0        1   360.0
247   14             Real Madrid    1  1  0  1  0   0   0   0        1   220.0
266   15                  MÃ¡laga    1  1  0  1  0   0   0   0        1   223.0
285   16              Levante UD    0  1  0  0  1   1   2  -1        1   221.0
304   17              Las Palmas    0  1  0  0  1   0   1  -1        1   208.0
323   18                  Getafe    0  1  0  0  1   0   1  -1        1   216.0
342   19           Athletic Club    0  1  0  0  1   0   1  -1        1   215.0
361   20                 Granada    0  1  0  0  1   1   3  -2        1  1049.0

In [18]:
df_clasificacion.drop_duplicates(inplace = True)

In [21]:
df_clasificacion["index"] = df_clasificacion["Jornada"].astype(str) + "_" + df_clasificacion["clubid"].astype(str)

In [27]:
df_clasificacion.rename(columns = ({
    "Pts" : "Puntos",
    "P" : "Partidos",
    "V" : "Victorias",
    "E" : "Empates",
    "D" : "Derrotas",
    "GM" : "Goles_a_favor",
    "GR" : "Goles_en_contra",
    "DG" : "Diferencia_goles"
}), inplace = True)

In [31]:
df_clasificacion.dtypes

Pos                   int64
Equipo               object
Puntos                int64
Partidos              int64
Victorias             int64
Empates               int64
Derrotas              int64
Goles_a_favor         int64
Goles_en_contra       int64
Diferencia_goles      int64
Jornada               int64
clubid              float64
index                object
dtype: object

In [32]:
load_dotenv()
dbname = os.getenv("dbname")
user = os.getenv("user")
password = os.getenv("password")
(conn,cur) = conexion_postgres(dbname, user, password)
insertar_datos_automatico(df_clasificacion,"clasficacion", cur, conn)

('PostgreSQL 16.4, compiled by Visual C++ build 1940, 64-bit',)